* {
  padding: 0%;
  margin: 0%; }

.fondo {
  background-color: black;
  color: white; }

.contenedor_header {
  display: flex;
  padding-right: 15px;
  background-color: #ffffff;
  grid-area: header; }

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center; }

.btn--1 {
  background-color: #e2af07; }

.btn--2 {
  background-color: #e27d07; }

.btn--3 {
  background-color: red; }

a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 10px; }
  a:hover {
    color: #8d6905;
    font-weight: bold; }

.logo {
  display: flex;
  padding-left: 60px;
  padding-top: 10px;
  align-items: center;
  align-content: center;
  height: 100px; }

.boton {
  background-color: #8d6905;
  color: white;
  width: 150px;
  font-size: 25px;
  border-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100px;
  position: fixed;
  right: 0;
  top: 150px;
  box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29; }
  .boton:hover {
    background-color: #c98506; }

.banner {
  background-image: url(../imagenes/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 600px; }

.flex_form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0b0a0a;
  margin: 30px 10px; }

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px; }

.form_img {
  flex: 1;
  padding: 10px;
  min-width: 300px; }

.form_img img {
  width: 90%;
  margin: auto; }

.form_input {
  width: 100%;
  padding: 7px;
  margin: 10px 0;
  border: none;
  border-bottom: 4px solid darkgoldenrod;
  background: transparent;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px; }
  .form_input:focus {
    border-bottom: 4px solid #eafa01;
    background: linear-gradient(to bottom, transparent, #1d1d1d);
    outline: none; }

.form textarea {
  resize: none; }

.form input[type="submit"] {
  background-color: darkgoldenrod;
  border-bottom: none;
  padding: 12px; }

.footer {
  grid-area: footer;
  display: flex;
  border-top: 1px;
  border-color: white;
  background-color: black;
  color: white;
  justify-content: center; }

.direccion {
  justify-content: center;
  align-content: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  padding: 30px;
  margin: auto; }

.redes1, .redes2 {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center; }

.redes2 {
  background-color: #3b3b3b; }
